.payment__header {
    font-size: 10px;
    font-weight: 700;
}
.payment__text {
    font-size: 14px;
}
.payment__input {
    width: 90%;
    font-size: 14px;
    height: 30px;
}
.payment__input::placeholder {
    font-size: 10px;
}
.payment__select {
    /* width: 90%; */
    height: 33px;
    font-size: 10px;
}
 
.text-error {
    color: red;
    font-Size: 12px;
}

@media only screen and (max-width: 600px) {
    h4 {
      /* background-color: lightblue; */
      font-size: 12px!important;
    }
    label {
        font-size: 50!important;
    }
  }
  @media only screen and (min-width: 600px) {
    h4 {
      /* background-color: lightblue; */
      font-size: 12px!important;
    }
   
  }